\begin{tikzpicture}
  \begin{axis}[
    xlabel={Instances Solved},
    ylabel={Time (s)},
    grid=major,
    legend entries={$legend},
    legend pos=north west,
    mark size=1pt,
    xmax=$bench_size,
    ]
$data  \end{axis}
\end{tikzpicture}
